<div class="container">
  <h3 class="d-flex justify-content-center">Vending Machine</h3>
  <div>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
      <ul class="navbar-nav">
        <li lass="nav-item" *ngFor="let item of ProductList">
          <button id="item.productCode" class="m-1 btn btn-light btn-outline-primary"
            (click)="chooseProductClick(item)">
            {{item.name}} ₱{{item.price}} {{item.quantity}}</button>
        </li>

      </ul>
    </nav>
  </div>
  <h5 style="text-align: center;"> {{Product == null? "Please choose a drink" : Product.name}}</h5>
  <h5 style="text-align: center;">Drink Price: {{Product == null? "₱0.00" : "₱"+Product.price}}</h5>
  <p>Insert Money:</p>
  <button class="m-1 btn btn-light btn-outline-primary" (click)="insertMoneyClick(1)"> ₱1 </button>
  <button class="m-1 btn btn-light btn-outline-primary" (click)="insertMoneyClick(5)">₱5</button>
  <button class="m-1 btn btn-light btn-outline-primary" (click)="insertMoneyClick(10)">₱10</button>
  <button class="m-1 btn btn-light btn-outline-primary" (click)="insertMoneyClick(20)">₱20</button>
  <p>Total Money: ₱{{Money}}</p>
  <p>Change ₱{{Change}}</p>
  <button class="btn btn-success btn-lg" (click)="buyProductClick()">Buy</button>
</div>
<div>
  <br>
  <br>
  <h3>Order List</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Price</th>
        <th>Date Purchased</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let order of OrderList;let i = index;">
        <tr [style.display]="i/pageSize>=page || i/pageSize<(page-1)?'none':null">
          <td>{{ order.id }}</td>
          <td>{{ order.productName }}</td>
          <td>{{ order.productPrice }}</td>
          <td>{{ order.dateCreated }}</td>
        </tr>
      </ng-container>
    </tbody>
  </table>
  <ngb-pagination class="d-flex justify-content-center" [collectionSize]="collectionSize" [(page)]="page" [maxSize]="5"
    [rotate]="true" [boundaryLinks]="true" [pageSize]="pageSize" (pageChange)="refreshOrderList()"></ngb-pagination>
</div>

<div>
  <br>
  <br>
  <h3>Product List</h3>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Id</th>
        <th>Code</th>
        <th>Name</th>
        <th>Price</th>
        <th>Qty</th>
        <th>Options</th>
      </tr>
    </thead>
    <tbody>
      <ng-container>
        <tr *ngFor="let product of ProductList">
          <td>{{ product.id }}</td>
          <td>{{ product.productCode }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>{{ product.qtyStock }}</td>
          <td><button class="btn btn-primary" (click)="replenishProduct(product.id)">Restock </button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>
</div>